@import "_null_style";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body{
    font-family: Lato;
}

.wrapper {
}
.block {

}
.block__row {
    display: flex;
    border: 20px solid #ece89d;
    margin: 0px 0px 20px 0px;
    align-items: center;
}
.block_column {
   border: 20px solid #5e5373;
//    flex-basis: 200px;
//    flex-grow: 1;
//    flex-shrink: 0;;
    flex: 0 1 auto;
}

.block_column_1{
    order:3;
}
.block_column_2{
    order: 2;
}
.block_column_3{
    order: 1;
}
.block_item {
    background-color: #18b5a4;
    padding: 50px;
    font-size: 50px;
    color:#fff;
    font-weight: 700;
}



